* {
    margin: 0px;
    padding: 0px;
}
div {
    border-width: 0px;
    border-style: none;
}
label {
    opacity: 0.5 ;
    font-size: 80%;
    text-align: center;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
tr {
    cursor: pointer;
}
tr:hover {
    background-color: #fff5f5;
}
td {
    padding: .25em;
    text-align: center;
}
thead {
    font-weight: bold;
}
.header {
    margin: .25em;
    color: #300;
}
#controls {
    vertical-align: top;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
/*    display: inline-block;
    *display: inline;
*/}
.control {
    vertical-align: top;
    display: inline-block;
    width: 23%;
    max-width: 100px;
}
.clabel {
	text-align: center;
}
.control-value {
    font-size: 200%;
}
.hcenter {
    text-align: center;
}
.arrow {
    font-size: 150%;
    cursor: pointer;
}
.arrow:hover {
    background-color: #eee;
    color: #400;
}
.buttons {
    border-style: solid;
    border-bottom-width: 1px;
    display: inline-block;
    width:100%;
    padding-bottom: .25em;
}
.button-container {
    width: 30%;
    max-width: 133px;
    text-align: center;
    float: left;
}

.hidden {
    display: none;
}
.shade {
    background-color: #eee;
}
.roll {
    border-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
    padding-left: .25em;
    padding-bottom: .15em;
}
.roll:hover {
    background-color: #fff5f5;
}
.roll-label {
    cursor: pointer;
}
#sim {
    padding-left: .25em;
}
.sim-bar {
    color:green;
}
.bar {
    overflow: visible;
    border-style: none;
    padding:0;
    margin:0;
    margin-left: 5em;
}
.bar-label {
    float: left;
    width: 4.5em;
    text-align: right;
    overflow: hidden;
}
#enhance {
    padding-left: .25em;
}
